#================================================
# .gitignore
#================================================
/**/.vscode/
/**/bin/
/**/build/
/**/~*
/**/*.bak
#================================================
